# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [63]:
# Import numpy and pandas
import numpy as np 
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Importing pokemon.csv as pokemon using pandas read_csv
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Showing the first five lines of the pokemon DataFrame
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Counting number of legendary and regular pokemon based on the groupby function and aggregated .count()
pokemon.groupby('Legendary').count()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Legendary,,,,,,,,,,,,
False,735,735,735,374,735,735,735,735,735,735,735,735
True,65,65,65,40,65,65,65,65,65,65,65,65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [20]:
# Creating sub groups between legendary & regular
legendary = pokemon.loc[(pokemon['Legendary'] == True)]
regular = pokemon.loc[(pokemon['Legendary'] == False)]

# Mean total points legendary & regular
total_mean_legendary = np.mean(legendary['Total'])
total_mean_regular = np.mean(regular['Total'])

# Standard deviation total points legendary & regular
total_std_legendary = np.std(legendary['Total'])
total_std_regular = np.std(regular['Total'])

print('The mean of total points of a legendary and regular pokemon are respectively {0:.2f} & {1:.2f}'.format(total_mean_legendary, total_mean_regular))
print('The standar deviation of total points of a legendary and regular pokemon are respectively {0:.2f} & {1:.2f}'.format(total_std_legendary, total_std_regular))

The mean of total points of a legendary and regular pokemon are respectively 637.38 & 417.21
The standar deviation of total points of a legendary and regular pokemon are respectively 60.47 & 106.69

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [25]:
# Import library for the T-test for the means of two independent samples of scores.
from scipy.stats import ttest_ind

# Hypothesis test comparing the mean of total points for legendary and regular Pokemon
ttest_ind(legendary.Total, regular.Total, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [36]:
# Your conclusions here:
'''
H0: Mu  = 0
H1: Mu != 0 

With a p-value lower than alpha (0.01) we reject H0 with confidence level of 0.99.
From the ttest we can conclude the mean of total points between the legendary group and regular group are
indeed different for the population.
Our positive t-value indicates that the legendary group has a higher mean compared to the regular group.
'''

'\nH0: Mu  = 0\nH1: Mu != 0 \n\nWith a p-value lower than alpha (0.01) we reject H0 with confidence level of 0.99.\nFrom the ttest we can conclude the mean of total points between the legendary group and regular group are\nindeed different for the population.\nOur positive t-value indicates that the legendary group has a higher mean compared to the regular group.\n'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [28]:
# Counting number of pokemon per Type 1 category based on the groupby function and aggregated .count() method
pokemon.groupby('Type 1').count()

,#,Name,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [34]:
# Define subgroups for A/B testing between water and not-water pokemon based on Type-1
water = pokemon.loc[(pokemon['Type 1'] == 'Water')]
not_water = pokemon.loc[(pokemon['Type 1'] != 'Water')]

# Mean total points water and not-water pokemon based on Type-1
total_mean_water = np.mean(water['Total'])
total_mean_not_water = np.mean(not_water['Total'])

# Standard deviation total points water and not-water pokemon based on Type-1
total_std_water = np.std(water['Total'])
total_std_not_water = np.std(not_water['Total'])

print('The mean of total points of a water and not water pokemon are respectively {0:.2f} & {1:.2f}'.format(total_mean_water, total_mean_not_water))
print('The standar deviation of total points of a water and notwater pokemon are respectively {0:.2f} & {1:.2f}'.format(total_std_water, total_std_not_water))

The mean of total points of a water and not water pokemon are respectively 430.46 & 435.86
The standar deviation of total points of a water and notwater pokemon are respectively 112.68 & 121.00

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [35]:
# H0: Mu  = 0
# H1: Mu != 0

# Import library for the T-test for the means of two independent samples of scores.
from scipy.stats import ttest_ind

# Hypothesis test comparing the mean of total points for water and non-water Pokemon
ttest_ind(water.Total, not_water.Total, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [38]:
# Your conclusions here:
'''
H0: Mu  = 0
H1: Mu != 0 

With a p-value higher than alpha (0.05) we cannot reject H0 with confidence level of 0.95.
This means that based on the sample there is no significant difference in the mean of the water pokemon versus
non-water pokemon in the population.
'''

'\nH0: Mu  = 0\nH1: Mu != 0 \n\nWith a p-value higher than alpha (0.05) we cannot reject H0 with confidence level of 0.95.\nThis means that based on the sample there is no significant difference in the mean of the water pokemon versus\nnon-water pokemon in the population.\n'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [39]:
# H0: Mu  = 0
# H1: Mu != 0

# Import library for the T-test on TWO RELATED samples of scores, a and b.
from scipy.stats import ttest_rel

# Perform T-test on the two related samples of scores, Attack and Defense.
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [42]:
# Your conclusions here:
'''
H0: Mu  = 0
H1: Mu != 0 

With a p-value lower than alpha (0.01) we reject H0 with confidence level of 0.99.
From the ttest of two related samples we can conclude the mean of the Attack points and Defense points are
indeed different for the population.
Our positive t-value sugessts that the Attack points have an higher higher mean compared to the Defense points.
'''

'\nH0: Mu  = 0\nH1: Mu != 0 \n\nWith a p-value lower than alpha (0.01) we reject H0 with confidence level of 0.99.\nFrom the ttest of two related samples we can conclude the mean of the Attack points and Defense points are\nindeed different for the population.\nOur positive t-value sugessts that the Attack points have an higher higher mean compared to the Defense points.\n'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [43]:
# H0: Mu  = 0
# H1: Mu != 0

# Perform T-test on the two related samples of scores, Attack and Defense.
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [44]:
# Your conclusions here:
'''
H0: Mu  = 0
H1: Mu != 0 

With a p-value higher than alpha (0.05) we cannot reject H0 with a confidence level of 0.95.
From the ttest of two related samples we can conclude the mean of the Sp. Attack points and SP. Defense points are
not different for the population.
'''

'\nH0: Mu  = 0\nH1: Mu != 0 \n\nWith a p-value higher than alpha (0.05) we cannot reject H0 with a confidence level of 0.95.\nFrom the ttest of two related samples we can conclude the mean of the Sp. Attack points and SP. Defense points are\nnot different for the population.\n'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [45]:
# H0: Mu  = 0
# H1: Mu != 0

# Import library for the T-test for the mean of ONE group of scores.
from scipy.stats import ttest_1samp

# Perform T-test on the two related samples of scores, Attack and Defense, using ttest_1samp.
ttest_1samp(pokemon.Attack - pokemon.Defense, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [50]:
# Create a contingency table using pd.crosstab comparing whether a Pokemon is legenadary or not and
# whether the Type 1 of a Pokemon is water or not.
pokemon_contingency = pd.crosstab(pokemon['Type 1'], pokemon['Legendary'], margins=True)
pokemon_contingency

Legendary  False  True  All
Type 1
Bug           69     0   69
Dark          29     2   31
Dragon        20    12   32
Electric      40     4   44
Fairy         16     1   17
Fighting      27     0   27
Fire          47     5   52
Flying         2     2    4
Ghost         30     2   32
Grass         67     3   70
Ground        28     4   32
Ice           22     2   24
Normal        96     2   98
Poison        28     0   28
Psychic       43    14   57
Rock          40     4   44
Steel         23     4   27
Water        108     4  112
All          735    65  800

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [55]:
# Import library for the Chi-square test of independence of variables in a contingency table.
from scipy.stats import chi2_contingency

# Perform Chi-sqaure test on pokemon_contingency table
stat, p, dof, expected = chi2_contingency(pokemon_contingency)

Based on a 95% confidence, should we reject the null hypothesis?

In [62]:
# Import library to perform an anlaysis on a chi-squared continuous random variable.
from scipy.stats import chi2

# Interpret Test-statistic
prob = 0.95
critical = chi2.ppf(prob, dof)
if abs(stat) >= critical:
    print('Dependent (Reject H0)')
else:
    print('Independent (Fail to reject H0)')

# Interpret P-value
alpha = 1.0 - prob
print('Significance = %.3f, P = %.7f' % (alpha, p))
if p <= alpha:
    print('Dependent (Reject H0)')
else:
    print('Independent (Fail to reject H0)')

Dependent (reject H0)
Significance = 0.050, P = 0.0000014
Dependent (Reject H0)