## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
# Your code here
sample_list_1 = random.sample(range(100), k=80)
print(sample_list_1)
print("")
print(len(sample_list_1))

[58, 11, 89, 47, 75, 92, 72, 7, 22, 10, 17, 46, 57, 3, 60, 86, 99, 20, 51, 82, 19, 4, 66, 88, 39, 59, 78, 6, 84, 50, 9, 45, 38, 83, 80, 61, 33, 56, 85, 76, 24, 93, 35, 34, 90, 18, 36, 87, 98, 37, 5, 31, 0, 28, 54, 65, 97, 63, 48, 74, 95, 21, 79, 25, 94, 81, 71, 42, 55, 53, 2, 30, 64, 40, 67, 52, 15, 8, 14, 13]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [17]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print("")
print(len(set1))

# Yes it is the same length because this list only contains unique values and a set also only contains unique values

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 25, 28, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 42, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [18]:
# Your code here

sample_list_2 = [] 
for x in range(80):
    x = random.randint(0,100)
    sample_list_2.append(x)

print(sample_list_2)
print("")
print(len(sample_list_2))

[27, 68, 9, 4, 56, 89, 19, 27, 54, 61, 63, 0, 83, 51, 25, 67, 64, 36, 27, 27, 58, 85, 83, 16, 100, 49, 27, 96, 65, 66, 11, 98, 68, 32, 40, 43, 63, 52, 45, 78, 51, 19, 62, 28, 42, 73, 4, 68, 13, 29, 70, 25, 27, 75, 36, 77, 67, 56, 36, 7, 8, 62, 7, 28, 87, 17, 0, 58, 43, 40, 6, 5, 31, 66, 93, 31, 52, 81, 54, 57]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print("")
print(len(set2))

# No it is not of the same length because a set only contains unique values

{0, 4, 5, 6, 7, 8, 9, 11, 13, 16, 17, 19, 25, 27, 28, 29, 31, 32, 36, 40, 42, 43, 45, 49, 51, 52, 54, 56, 57, 58, 61, 62, 63, 64, 65, 66, 67, 68, 70, 73, 75, 77, 78, 81, 83, 85, 87, 89, 93, 96, 98, 100}

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [28]:
# Your code here
set3 = set1-set2
print(set3)
print("")
print("length of set =", len(set3))

{2, 3, 10, 14, 15, 18, 20, 21, 22, 24, 30, 33, 34, 35, 37, 38, 39, 46, 47, 48, 50, 53, 55, 59, 60, 71, 72, 74, 76, 79, 80, 82, 84, 86, 88, 90, 92, 94, 95, 97, 99}

length of set = 41

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [29]:
# Your code here
set4 = set2-set1
print(set4)
print("")
print("length of set =", len(set4))

{32, 96, 68, 100, 70, 73, 43, 77, 16, 49, 27, 29, 62}

length of set = 13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [61]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
print("")
print("length of set =", len(set5))

{0, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19, 25, 28, 31, 36, 40, 42, 45, 51, 52, 54, 56, 57, 58, 61, 63, 64, 65, 66, 67, 75, 78, 81, 83, 85, 87, 89, 93, 98}

length of set = 39

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [62]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

print(type(set1))
print(type(set2))
print(type(set3))
print(type(set4))
print(type(set5))

80
52
39
13
39
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>
<class 'set'>

#### Create an empty set called `set6`.

In [97]:
# Your code here
set6 = set()
print(set6)
print(type(set6))

set()
<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [120]:
# Your code here
set6.update(set3, set5)
print(set6)
print(type(set6))

{0, 4, 5, 6, 7, 8, 9, 11, 13, 17, 19, 25, 28, 31, 36, 40, 42, 45, 51, 52, 54, 56, 57, 58, 61, 63, 64, 65, 66, 67, 75, 78, 81, 83, 85, 87, 89, 93, 98}
<class 'set'>

#### Check if `set1` and `set6` are equal.

In [99]:
# Your code here
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [101]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [105]:
# Your code here
print(set3.union(set4).union(set5))
print("")
print(set1.union(set2))

{0, 4, 5, 6, 7, 8, 9, 11, 13, 16, 17, 19, 25, 27, 28, 29, 31, 32, 36, 40, 42, 43, 45, 49, 51, 52, 54, 56, 57, 58, 61, 62, 63, 64, 65, 66, 67, 68, 70, 73, 75, 77, 78, 81, 83, 85, 87, 89, 93, 96, 98, 100}

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [116]:
# Your code here
# Note: Sets are unordered, so when using the pop() method, you will not know which item that gets removed.
print(set1)

print("")

list_set1 =list(set1)
print(list_set1)

print("")

list_set1.pop(0)
print(list_set1)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 25, 28, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 42, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99}

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 25, 28, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 42, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 20, 21, 22, 24, 25, 28, 30, 31, 33, 34, 35, 36, 37, 38, 39, 40, 42, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 97, 98, 99]

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [118]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_remove = set(list_to_remove)
final_set = set1 - set_remove
print(final_set)

{0, 2, 3, 4, 5, 6, 7, 8, 10, 13, 14, 15, 17, 18, 20, 22, 24, 25, 28, 30, 33, 34, 35, 36, 37, 38, 40, 42, 45, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 72, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 97, 98}